[Desktop Entry]
Name=PlasmOSX
X-KDE-PluginInfo-Author=Maikel Llamaret Heredia
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=llamaret@webmisolutions.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=PlasmOSX
X-KDE-PluginInfo-Version=1.1
