[Desktop Entry]
Name=PlasmOSXDark
X-KDE-PluginInfo-Author=Maikel Llamaret Heredia
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=llamaret@webmisolutions.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=PlasmOSX
X-KDE-PluginInfo-Version=1.1
